@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 236, 236, 236;
  --background-end-rgb: 236, 236, 236;
}

@layer base {
  :root {
    --color-primary: #d84916;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 236, 236, 236;
    --background-end-rgb: 236, 236, 236;
  }
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-min {
  font-size: 0.6rem;
}

.overflow-transparent::-webkit-scrollbar {
  background-color: transparent;
}

.overflow-transparent::-webkit-scrollbar-thumb {
  background-color: #DBDBDB;
}

@media (max-width: 768px) {
  .overflow-transparent::-webkit-scrollbar {
    display: none;
  }

  .overflow-transparent::-webkit-scrollbar-thumb {
    display: none;
  }
}

/*
 Oculta a barra de rolagem 
::-webkit-scrollbar {
  display: none;
}
*/

/* Adiciona uma sombra transparente para a barra de rolagem quando hover
::-webkit-scrollbar-thumb {
  background-color: transparent;
  box-shadow: none;
  display: none;
}
*/





/* Classe que faz a modal aparecer de baixo para cima */
.translate-y-0 {
  transform: translateY(0);
}

.translate-y-full {
  transform: translateY(100%);
}

/* Classe que faz a modal desaparecer ao clicar fora dela */
.opacity-75 {
  opacity: 0.75;
}

.opacity-0 {
  opacity: 0;
}


/* Classe que faz a modal aparecer de baixo para cima */
.translate-y-0 {
  transform: translateY(0);
}

.translate-y-full {
  transform: translateY(100%);
}

/* Classe que faz a modal desaparecer ao clicar fora dela */
.opacity-75 {
  opacity: 0.75;
}

.opacity-0 {
  opacity: 0;
}

/* Adicione a classe translate-y-0 quando a modal é aberta */
/* e a classe translate-y-full quando é fechada */
/* para fazer a animação de aparecer de baixo para cima */
/* e de desaparecer ao clicar fora dela */
.modal-open .translate-y-full {
  transition-duration: 0.3s;
  transform: translateY(100%);
}

.modal-open .translate-y-0 {
  transition-duration: 0.3s;
  transform: translateY(0);
}

/* Adicione a classe opacity-0 quando a modal é fechada */
/* para fazer a animação de desaparecer */
/* ao clicar fora dela */
.modal-closed .opacity-75 {
  transition-duration: 0.3s;
  opacity: 0;
}

.modal-closed .opacity-0 {
  transition-duration: 0.3s;
  opacity: 0.75;
}